<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hot TopiX</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Hot TopiX</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/home">Your Stream</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/follow_user">Follow User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/follow_topic">Follow/Unfollow Topic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/edit_profile">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron" style="padding-left: 50px; background-color:<%= loggedInUser.backgroundColor1 %>;">
  <p>
    Follow another user:
  </p>

    <form action="/follow_user" method="post" class="form-inline" style="padding-left: 25px;">
        <div class="form-group">
          <!-- <input type="text" name="username" placeholder="Your Username" class="form-control"> -->
          <input aria-label= "Follow User" type="text" name="follow_username" placeholder="Follow Username" class="form-control">
        </div>
        <button aria-label= "Follow Button" class="btn btn-primary form-btn" value="Submit" type="submit">Follow</button>
      </form>

      <br>
    <p>
      Unfollow another user:
    </p>
      <form action="/unfollow_user" method="post" class="form-inline" style="padding-left: 25px;">
          <div class="form-group">
            <!-- <input type="text" name="username" placeholder="Your Username" class="form-control"> -->
            <input aria-label= "Unfollow User" type="text" name="unfollow_username" placeholder="Unfollow Username" class="form-control">
          </div>
          <button aria-label= "Unfollow Button" class="btn btn-primary form-btn" value="Submit" type="submit">Unfollow</button>
        </form>

        <p>
          Current User:
          <b>
          <%= loggedInUser.username %>
          </b>
        </p>

        <p>
          Current Users Following You:
        </p>

        <table>
        <% for(var i=0; i < followers.results.length; i++) { %>
           <tr>
             <td><%= followers.results[i].feed_id.substring(9) %></td>
           </tr>
        <% } %>
        </table>


        <br>
        <p>
          Current Users You Follow:
        </p>

        <table>
        <% for(var i=0; i < following.results.length; i++) { %>
           <tr>
             <td><%= following.results[i].target_id.substring(9) %></td>
           </tr>
        <% } %>
        </table>

        <br>
        <p>
          Current HotTopiX Users:
        </p>

        <table>
        <% for(var i=0; i < users.length; i++) { %>
           <tr>
             <td><%= users[i].username %></td>
           </tr>
        <% } %>
        </table>

</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/new-age.min.js"></script>

</body>
</html>
