<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
      <div>
          <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/home">Your Stream</a></li>
                  <li><a href="/contact">Contact us</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Sign Up</a></li>
                  <li><a href="/edit_profile">Edit Profile</a></li>
                  <li class="active"><a href="/follow_user">Follow User<span class="sr-only">(current)</span></a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
          </nav>
      </div>
  <br/>
  <div class="jumbotron" style="padding-left: 50px;">
  <p>
    Follow another user:
  </p>

    <form action="/follow_user" method="post" class="form-inline" style="padding-left: 25px;">
        <div class="form-group">
          <!-- <input type="text" name="username" placeholder="Your Username" class="form-control"> -->
          <input type="text" name="follow_username" placeholder="Follow Username" class="form-control">
        </div>
        <button class="btn btn-primary form-btn" value="Submit" type="submit">Follow</button>
      </form>

      <br>
    <p>
      Unfollow another user:
    </p>
      <form action="/unfollow_user" method="post" class="form-inline" style="padding-left: 25px;">
          <div class="form-group">
            <!-- <input type="text" name="username" placeholder="Your Username" class="form-control"> -->
            <input type="text" name="unfollow_username" placeholder="Unfollow Username" class="form-control">
          </div>
          <button class="btn btn-primary form-btn" value="Submit" type="submit">Unfollow</button>
        </form>

        <p>
          Current User:
          <%= followers.results[0].target_id.substring(9) %>
        </p>

        <p>
          Current Users Following You:
        </p>

        <table>
        <% for(var i=0; i < followers.results.length; i++) { %>
           <tr>
             <td><%= followers.results[i].feed_id.substring(9) %></td>
           </tr>
        <% } %>
        </table>


        <br>
        <p>
          Current Users You Follow:
        </p>

        <table>
        <% for(var i=0; i < following.results.length; i++) { %>
           <tr>
             <td><%= following.results[i].target_id.substring(9) %></td>
           </tr>
        <% } %>
        </table>

        <br>
        <p>
          Current HotTopiX Users:
        </p>

        <table>
        <% for(var i=0; i < users.length; i++) { %>
           <tr>
             <td><%= users[i].username %></td>
           </tr>
        <% } %>
        </table>

</div>
  </div>
</body>
</html>
